.previewCompanion, .previewLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.previewBracelet {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #fff;
    width: 50rem;
    height: 10rem;
    padding: 1rem;
    font-size: .8rem;
}

.previewBracelet > .img-area img {
    width: 8rem;
}

.previewLabel, .previewCompanion {
    width: 40rem;
    height: 10rem;
    padding: .5rem;
    font-size: .6rem;
}

.previewCompanion p {
    font-size: 1rem;
}

.previewLabel > .img-area img, .previewCompanion > .img-area img {
    width: 5rem;
}

.notSelected {
    display: none;
}
