.warning-test {
    width: 100%;
    padding: .5rem;
    background-color: rgb(241, 67, 67);
    color: #fff;
    font-size: .5rem;
    text-align: center;
}


.previewBracelet {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #fff;
    width: 50rem;
    height: 10rem;
    padding: 1rem;
    font-size: .5rem;
}

.previewBracelet > .img-area img {
    width: 8rem;
}

.previewCompanion, .previewLabel {
    display: flex;
    gap: .5rem;
    align-items: center;
    background-color: #fff;
    width: 30rem;
    height: 10rem;
    padding: .5rem;
    font-size: .4rem;
}

.previewCompanion p {
    font-size: 1rem;
}

.previewLabel > .img-area img, .previewCompanion > .img-area img {
    width: 4rem;
}

.notSelected {
    display: none;
}

span {
    display: flex;
    gap: .5rem;
}